 body {
        background-color:skyblue;
    }
  
    h1{
       background-color:black;
       color: white;
       text-align:center;
       }
    p{
       font-size:15px;
       font-family:Times New Roman;
       }
       #linki{
    background-color: green;
    text-align: left;
    font-size: 20 px;
    border-style: dotted;
    height: 100px;
    overflow: scroll;
}
.test {
    border-width:2px;
    border-style:solid;
}

#mp {
    border-width:2px;
    border-style:solid;
    border-color:red;
    padding: 50px 20px 90px 120px;
}
.przycisk {
        border-width:1px;
        border-style:solid;
        border-color:darkRed;
        background-color:darkRed;
        color:white;
        margin: 5px 5px 5px 5px;
        padding: 5px 5px 5px 5px;
        width: auto;
        height: 20px;
        text-align:center;
}
 .menu > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        position: fixed;
        top: 0;
        width: 100%;
    }
    .menu > ul > li {
        float: left;
    }
    .menu > ul > li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
}
header{
    padding:10px;
    margin-top:50px;
}
.menu >ul >li a:hover:not(.active) {
    background-color: #111;
}

.menu >ul >li a.active {
    background-color: #4CAF50;
}



    